.home .imgContanier {
  flex: 1;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  background: rgba(26, 83, 25, 0.2);
  backdrop-filter: blur(0.1px);
  width: 850px;
  height: 670px;
  flex-shrink: 0;
  z-index: 1;
}
