.singupform {
  animation: moveApart 2s forwards;
}

@keyframes moveApart {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}
.singupform form {
  width: 100%;
}
.singupform form .inputs > div {
  width: 100%;
}

.singupform .inputs div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (max-width: 450px) {
  .singupform .inputs div {
    flex-direction: column;
  }
}

.singupform .verificationRoute {
  width: 100%;
}

.singupform .help {
  text-align: center;
  color: #d6efd8;
  font-family: Poppins;
  font-size: 12px;
  margin-bottom: 20px;
}
.help .login {
  color: #1a5319;
  font-weight: 800;
}

.help div {
  display: flex;
}
.help div a {
  margin-left: 4px;
}

.help a:hover {
  text-decoration: underline;
}
