.singupform {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 55px;
  border: 1px solid rgba(241, 241, 241, 0.48);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 47px -47px 47px 0px rgba(194, 194, 194, 0.1) inset,
    -47px 47px 47px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(48px);
  padding: 0 120px;
  flex: 1; */
  animation: moveApart 2s forwards;
}

@keyframes moveApart {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* @media (min-width: 1350px) {
  .singupform {
    padding: 0 150px;
  }
}

@media (max-width: 1100px) {
  .singupform {
    padding: 0 80px;
  }
}

@media (max-width: 950px) {
  .singupform {
    padding: 0 40px;
  }
}

@media (max-width: 840px) {
  .singupform {
    padding: 0 80px;
  }
}

@media (max-width: 500px) {
  .singupform {
    padding: 0 40px;
  }
} */

/* .singupform h1 {
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 800;
  background: linear-gradient(180deg, #508d4e -14.81%, #161313 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0 10px 0;
}

@media (max-width: 950px) {
  .singupform h1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .singupform h1 {
    margin-bottom: 10px;
  }
} */

/* .singupform .icon {
  background-color: rgba(217, 217, 217, 0.41);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
} */

/* .singupform .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
} */

.singupform .inputs div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (max-width: 450px) {
  .singupform .inputs div {
    flex-direction: column;
  }
}

/* .singupform input {
  color: #d6efd8;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #1a5319;
  font-size: 14px;
  outline: none;
  padding: 21px 2px 3px;
  width: 100%;
} */
/* 
.singupform input::placeholder {
  color: #d6efd8;
} */

.singupform .verificationRoute {
  width: 100%;
}

/* .singupform button {
  margin: 31px 0;
  padding: 12px 0px;
  border-radius: 45px;
  border: 1px solid #fcfcfc;
  background: rgba(124, 135, 97, 0.67);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
} */

.singupform .help {
  text-align: center;
  color: #d6efd8;
  font-family: Poppins;
  font-size: 12px;
  margin-bottom: 20px;
}
.help .login {
  color: #1a5319;
  font-weight: 800;
}

.help div {
  display: flex;
}
.help div a {
  margin-left: 4px;
}

.help a:hover {
  text-decoration: underline;
}
