.servicesContanier {
  width: 100%;
}
.servicesContanier h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.cards {
  margin-top: 80px;
  display: flex;
  gap: 30px;
  position: relative;
  overflow: auto;
  z-index: 10;
}

.background {
  position: absolute;
  width: calc(100% + 390px);

  height: 300px;
  background: linear-gradient(
    87deg,
    #7c8761 -8.62%,
    rgba(214, 239, 216, 0.5) 112.88%
  );
  top: 185px;
}

.card .imgContanier {
  position: relative;
  width: 265px;
  height: 280px;
}

@media (max-width: 370px) {
  .card .imgContanier {
    width: 200px;
  }
  .card .content {
    width: 200px;
  }
}
.card .imgContanier img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .content {
  background: linear-gradient(99deg, #7c8761 0%, #d6efd8 70.86%);
  border-radius: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card .content div {
  color: #1a5319;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  max-width: 156px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.card span {
  margin: 10px 0;
  position: absolute;
  right: 20px;
  bottom: 5px;
  cursor: pointer;
}

@media (min-width: 1477px) {
  .cards .down1,
  .down2 {
    margin-top: 150px;
  }
}
