.loginform {
  animation: moveApart 2s forwards;
  position: relative;
}
@keyframes moveApart {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}

.loginform form {
  width: 100%;
}

.loginform .loginRoute {
  width: 100%;
}

.loginform .help {
  text-align: center;
  color: #d6efd8;
  font-family: Poppins;
  font-size: 12px;
  margin-bottom: 20px;
}
.help .singup {
  color: #1a5319;
  font-weight: 800;
}

.help div:not(:first-child) {
  display: flex;
}
.help div:not(:first-child) a {
  margin-left: 4px;
}

.help a:hover {
  text-decoration: underline;
}
