.loginform {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 55px;
  border: 1px solid rgba(241, 241, 241, 0.48);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 47px -47px 47px 0px rgba(194, 194, 194, 0.1) inset,
    -47px 47px 47px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(48px);
  padding: 0 120px;
  flex: 1;
  z-index: 1; */
  animation: moveApart 2s forwards;
}
@keyframes moveApart {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* @media (min-width: 1350px) {
  .loginform {
    padding: 0 150px;
  }
}

@media (max-width: 1100px) {
  .loginform {
    padding: 0 80px;
  }
}

@media (max-width: 950px) {
  .loginform {
    padding: 0 40px;
  }
}

@media (max-width: 840px) {
  .loginform {
    padding: 0 80px;
  }
}

@media (max-width: 500px) {
  .loginform {
    padding: 0 40px;
  }
} */

.loginform .loginRoute {
  width: 100%;
}

/* .loginform h1 {
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 800;
  background: linear-gradient(180deg, #508d4e -14.81%, #161313 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0 70px 0;
}

@media (max-width: 950px) {
  .loginform h1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .loginform h1 {
    margin-bottom: 10px;
  }
} */

/* .loginform .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
} */

/* .loginform input {
  color: #d6efd8;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #1a5319;
  font-size: 14px;
  outline: none;
  padding: 21px 2px 3px;
  width: 100%;
} */
/* 
.loginform input::placeholder {
  color: #d6efd8;
} */

/* .loginform button {
  margin: 31px 0;
  padding: 12px 0px;
  border-radius: 45px;
  border: 1px solid #fcfcfc;
  background: rgba(124, 135, 97, 0.67);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
} */

.loginform .help {
  text-align: center;
  color: #d6efd8;
  font-family: Poppins;
  font-size: 12px;
  margin-bottom: 20px;
}
.help .singup {
  color: #1a5319;
  font-weight: 800;
}

.help div:not(:first-child) {
  display: flex;
}
.help div:not(:first-child) a {
  margin-left: 4px;
}

.help a:hover {
  text-decoration: underline;
}
