.contanier {
  background: linear-gradient(
    109deg,
    #7c8761 -21.51%,
    #80af81 36.42%,
    rgba(26, 83, 25, 0.9) 87.8%
  );
  min-height: calc(100vb);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 0px 155px;
}

@media (min-width: 1350px) {
  .contanier {
    padding: 0 250px;
  }
}

@media (max-width: 1100px) {
  .contanier {
    padding: 0 100px;
  }
}

@media (max-width: 650px) {
  .contanier {
    padding: 0 50px;
  }
}

@media (max-width: 400px) {
  .contanier {
    padding: 0 10px;
  }
}

.contanier .imgContanier {
  width: 370px;
  height: 365px;
  margin-left: -40px;
  overflow: hidden;
  animation: moveApart 2s forwards;
}

@media (max-width: 950px) {
  .contanier .imgContanier {
    width: 303px;
    height: 300px;
  }
}

@media (max-width: 840px) {
  .contanier .imgContanier {
    display: none;
  }
}

.imgContanier img {
  height: 100%;
  width: 100%;
}

.contanier .login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes moveApart {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
