.imgContanier {
  margin: 0 0 0 -40px !important;
  animation: moveApart 2s forwards !important;
}

@keyframes moveApart {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
