.orderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  /* margin-bottom: 100px; */
}

.orderContent .cart {
  text-align: start;
  align-self: stretch;
}
.orderContent .cart h2 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.orderContent .cart > p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 60px;
}

.orderContent .items > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 5px solid #7c8761;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.orderContent .items > div .imgContanier {
  position: relative;
  min-width: 100px;
  min-height: 100px;
}

.orderContent .items .imgContanier img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.orderContent .items > div .productName {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  max-width: 200px;
}
.orderContent .items > div .amount {
  margin-right: 30px;
  display: flex;
  gap: 5px;
}

.orderContent .items > div .productName > span {
  font-weight: 600;
}

.orderContent .items > div .productName div {
  display: flex;
  align-items: center;
  min-width: 126px;
  cursor: pointer;
}

.orderContent .items > div .productName div span:first-child {
  display: flex;
  align-items: center;
}

.orderContent .items > div .amount span,
.orderContent .items > div .price,
.orderContent .items > div .productName span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.orderContent .items > div .productName div span {
  color: #1a5319;
  text-shadow: 4px 9px 14px rgba(0, 0, 0, 0.33);
}

.orderContent .items > div .productName div span:first-child {
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.payment > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.orderContent .payment div:first-child h2 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.orderContent .payment div:first-child div {
  display: flex;
  align-items: center;
}

.payment div:first-child .add svg {
  cursor: pointer;
  width: 20px;
}

.orderContent .payment div:first-child span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}

.payment .cardInfo div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderContent .payment .cardInfo {
  border: 2px solid #1a5319;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin-bottom: 30px;
  min-height: 60px;
}

.orderContent .payment .cardInfo .cardName {
  margin-right: 20px;
}
.orderContent .payment .cardName svg {
  width: 40px;
}

.orderContent .payment .cardInfo .cardNumber {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 750px) {
  .orderContent .items > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .orderContent .items > div .productName {
    align-items: center;
  }

  .orderContent .items > div .amount {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/*  */

.summary h2 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.summary .total > div:first-child {
  border-radius: 45px;
  border: 1px solid #d6efd8;
  overflow: hidden;
  display: flex;
}
.total > div:first-child input {
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d6efd8;
}
.total > div:first-child input::placeholder {
  color: #d6efd8;
}
.total > div:first-child label {
  /* border: 1px solid #d6efd8; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: #7c8761;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.total .costDetails {
  margin: 50px 0;
  border-bottom: 5px solid #7c8761;
}
.total .costDetails div,
.totalCost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.costDetails div span,
.totalCost span {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.summary a {
  margin: 31px 0;
  padding: 12px 0px;
  border-radius: 45px;
  border: 1px solid #fcfcfc;
  background: rgba(124, 135, 97, 0.67);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  display: block;
}

.summary a:not(:first-of-type) {
  color: #7c8761;
  background: #d6efd8;
}

.summary .imgContanier {
  position: relative;
  height: 350px;
}
.summary .imgContanier img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .orderContent {
    flex-direction: column;
  }
}
