/* Start global format*/

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* End global format*/
.App {
  text-align: center;
  transition: 0.3s, color 0.3s;
}

.App.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode {
  background: linear-gradient(
    109deg,
    #7c8761 -21.51%,
    #3d5f3d 36.42%,
    rgb(14 52 14 / 90%) 87.8%
  ) !important;
  color: #ffffff;
}

.arbic-direction {
  flex-direction: row-reverse;
}

/* Common styles */
.contanier {
  background: linear-gradient(
    109deg,
    #7c8761 -21.51%,
    #80af81 36.42%,
    rgba(26, 83, 25, 0.9) 87.8%
  );
  min-height: calc(100vb);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px 155px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .contanier {
    padding: 15px 100px;
  }
}

@media (max-width: 650px) {
  .contanier {
    padding: 10px 50px;
  }
}

@media (max-width: 400px) {
  .contanier {
    padding: 10px 10px 20px;
  }
}

.contanier .imgContanier {
  width: 370px;
  height: 365px;
  margin-right: -40px;
  overflow: hidden;
  position: relative;
  animation: moveApart 2s forwards;
}

@media (max-width: 950px) {
  .contanier .imgContanier {
    width: 303px;
    height: 300px;
  }
}

@media (max-width: 840px) {
  .contanier .imgContanier {
    display: none;
  }
}

.contanier .imgContanier img {
  height: 100%;
  width: 100%;
}

@keyframes moveApart {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.contanier .content-contanier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.responseAndErrorMsg {
  font-size: 16px;
  font-family: Poppins;
  margin-top: 20px;
  font-weight: 600;
}
